.flag._ASEAN:after{ background-position: 0 0;  } 
.flag._AfricanUnion:after{ background-position: 0 -74px;  } 
.flag._ArabLeague:after{ background-position: 0 -148px;  } 
.flag._BasqueCountry:after{ background-position: 0 -222px;  } 
.flag._CARICOM:after{ background-position: 0 -296px;  } 
.flag._CIS:after{ background-position: 0 -370px;  } 
.flag._Catalonia:after{ background-position: 0 -444px;  } 
.flag._Commonwealth:after{ background-position: 0 -518px;  } 
.flag._England:after{ background-position: 0 -592px;  } 
.flag._EuropeanUnion:after{ background-position: 0 -666px;  } 
.flag._FAO:after{ background-position: 0 -740px;  } 
.flag._Galicia:after{ background-position: 0 -814px;  } 
.flag._IAEA:after{ background-position: 0 -888px;  } 
.flag._IHO:after{ background-position: 0 -962px;  } 
.flag._IslamicConference:after{ background-position: 0 -1036px;  } 
.flag._Kosovo:after{ background-position: 0 -1110px;  } 
.flag._NATO:after{ background-position: 0 -1184px;  } 
.flag._NorthernCyprus:after{ background-position: 0 -1258px;  } 
.flag._NorthernIreland:after{ background-position: 0 -1332px;  } 
.flag._OAS:after{ background-position: 0 -1406px;  } 
.flag._OECD:after{ background-position: 0 -1480px;  } 
.flag._OPEC:after{ background-position: 0 -1554px;  } 
.flag._OlimpicMovement:after{ background-position: 0 -1628px;  } 
.flag._RedCross:after{ background-position: 0 -1702px;  } 
.flag._Scotland:after{ background-position: 0 -1776px;  } 
.flag._Somaliland:after{ background-position: 0 -1850px;  } 
.flag._UNESCO:after{ background-position: 0 -1924px;  } 
.flag._UNICEF:after{ background-position: -74px 0;  } 
.flag._UnitedNations:after{ background-position: -74px -74px;  } 
.flag._WHO:after{ background-position: -74px -148px;  } 
.flag._WTO:after{ background-position: -74px -222px;  } 
.flag._Wales:after{ background-position: -74px -296px;  } 
.flag.ad:after{ background-position: -74px -370px;  } 
.flag.ae:after{ background-position: -74px -444px;  } 
.flag.af:after{ background-position: -74px -518px;  } 
.flag.ag:after{ background-position: -74px -592px;  } 
.flag.ai:after{ background-position: -74px -666px;  } 
.flag.al:after{ background-position: -74px -740px;  } 
.flag.am:after{ background-position: -74px -814px;  } 
.flag.an:after{ background-position: -74px -888px;  } 
.flag.ao:after{ background-position: -74px -962px;  } 
.flag.aq:after{ background-position: -74px -1036px;  } 
.flag.ar:after{ background-position: -74px -1110px;  } 
.flag.as:after{ background-position: -74px -1184px;  } 
.flag.at:after{ background-position: -74px -1258px;  } 
.flag.au:after{ background-position: -74px -1332px;  } 
.flag.aw:after{ background-position: -74px -1406px;  } 
.flag.ax:after{ background-position: -74px -1480px;  } 
.flag.az:after{ background-position: -74px -1554px;  } 
.flag.ba:after{ background-position: -74px -1628px;  } 
.flag.bb:after{ background-position: -74px -1702px;  } 
.flag.bd:after{ background-position: -74px -1776px;  } 
.flag.be:after{ background-position: -74px -1850px;  } 
.flag.bf:after{ background-position: -74px -1924px;  } 
.flag.bg:after{ background-position: -148px 0;  } 
.flag.bh:after{ background-position: -148px -74px;  } 
.flag.bi:after{ background-position: -148px -148px;  } 
.flag.bj:after{ background-position: -148px -222px;  } 
.flag.bl:after{ background-position: -148px -296px;  } 
.flag.bm:after{ background-position: -148px -370px;  } 
.flag.bn:after{ background-position: -148px -444px;  } 
.flag.bo:after{ background-position: -148px -518px;  } 
.flag.br:after{ background-position: -148px -592px;  } 
.flag.bs:after{ background-position: -148px -666px;  } 
.flag.bt:after{ background-position: -148px -740px;  } 
.flag.bv:after{ background-position: -148px -814px;  } 
.flag.bw:after{ background-position: -148px -888px;  } 
.flag.by:after{ background-position: -148px -962px;  } 
.flag.bz:after{ background-position: -148px -1036px;  } 
.flag.ca:after{ background-position: -148px -1110px;  } 
.flag.cc:after{ background-position: -148px -1184px;  } 
.flag.cd:after{ background-position: -148px -1258px;  } 
.flag.cf:after{ background-position: -148px -1332px;  } 
.flag.cg:after{ background-position: -148px -1406px;  } 
.flag.ch:after{ background-position: -148px -1480px;  } 
.flag.ci:after{ background-position: -148px -1554px;  } 
.flag.ck:after{ background-position: -148px -1628px;  } 
.flag.cl:after{ background-position: -148px -1702px;  } 
.flag.cm:after{ background-position: -148px -1776px;  } 
.flag.cn:after{ background-position: -148px -1850px;  } 
.flag.co:after{ background-position: -148px -1924px;  } 
.flag.cr:after{ background-position: -222px 0;  } 
.flag.cu:after{ background-position: -222px -74px;  } 
.flag.cv:after{ background-position: -222px -148px;  } 
.flag.cx:after{ background-position: -222px -222px;  } 
.flag.cy:after{ background-position: -222px -296px;  } 
.flag.cz:after{ background-position: -222px -370px;  } 
.flag.de:after{ background-position: -222px -444px;  } 
.flag.dj:after{ background-position: -222px -518px;  } 
.flag.dk:after{ background-position: -222px -592px;  } 
.flag.dm:after{ background-position: -222px -666px;  } 
.flag.do:after{ background-position: -222px -740px;  } 
.flag.dz:after{ background-position: -222px -814px;  } 
.flag.ec:after{ background-position: -222px -888px;  } 
.flag.ee:after{ background-position: -222px -962px;  } 
.flag.eg:after{ background-position: -222px -1036px;  } 
.flag.eh:after{ background-position: -222px -1110px;  } 
.flag.er:after{ background-position: -222px -1184px;  } 
.flag.es:after{ background-position: -222px -1258px;  } 
.flag.et:after{ background-position: -222px -1332px;  } 
.flag.fi:after{ background-position: -222px -1406px;  } 
.flag.fj:after{ background-position: -222px -1480px;  } 
.flag.fk:after{ background-position: -222px -1554px;  } 
.flag.fm:after{ background-position: -222px -1628px;  } 
.flag.fo:after{ background-position: -222px -1702px;  } 
.flag.fr:after{ background-position: -222px -1776px;  } 
.flag.ga:after{ background-position: -222px -1850px;  } 
.flag.gb:after{ background-position: -222px -1924px;  } 
.flag.gd:after{ background-position: -296px 0;  } 
.flag.ge:after{ background-position: -296px -74px;  } 
.flag.gf:after{ background-position: -296px -148px;  } 
.flag.gg:after{ background-position: -296px -222px;  } 
.flag.gh:after{ background-position: -296px -296px;  } 
.flag.gi:after{ background-position: -296px -370px;  } 
.flag.gl:after{ background-position: -296px -444px;  } 
.flag.gm:after{ background-position: -296px -518px;  } 
.flag.gn:after{ background-position: -296px -592px;  } 
.flag.gp:after{ background-position: -296px -666px;  } 
.flag.gq:after{ background-position: -296px -740px;  } 
.flag.gr:after{ background-position: -296px -814px;  } 
.flag.gs:after{ background-position: -296px -888px;  } 
.flag.gt:after{ background-position: -296px -962px;  } 
.flag.gu:after{ background-position: -296px -1036px;  } 
.flag.gw:after{ background-position: -296px -1110px;  } 
.flag.gy:after{ background-position: -296px -1184px;  } 
.flag.hk:after{ background-position: -296px -1258px;  } 
.flag.hm:after{ background-position: -296px -1332px;  } 
.flag.hn:after{ background-position: -296px -1406px;  } 
.flag.hr:after{ background-position: -296px -1480px;  } 
.flag.ht:after{ background-position: -296px -1554px;  } 
.flag.hu:after{ background-position: -296px -1628px;  } 
.flag.id:after{ background-position: -296px -1702px;  } 
.flag.ie:after{ background-position: -296px -1776px;  } 
.flag.il:after{ background-position: -296px -1850px;  } 
.flag.im:after{ background-position: -296px -1924px;  } 
.flag.in:after{ background-position: -370px 0;  } 
.flag.io:after{ background-position: -370px -74px;  } 
.flag.iq:after{ background-position: -370px -148px;  } 
.flag.ir:after{ background-position: -370px -222px;  } 
.flag.is:after{ background-position: -370px -296px;  } 
.flag.it:after{ background-position: -370px -370px;  } 
.flag.je:after{ background-position: -370px -444px;  } 
.flag.jm:after{ background-position: -370px -518px;  } 
.flag.jo:after{ background-position: -370px -592px;  } 
.flag.jp:after{ background-position: -370px -666px;  } 
.flag.ke:after{ background-position: -370px -740px;  } 
.flag.kg:after{ background-position: -370px -814px;  } 
.flag.kh:after{ background-position: -370px -888px;  } 
.flag.ki:after{ background-position: -370px -962px;  } 
.flag.km:after{ background-position: -370px -1036px;  } 
.flag.kn:after{ background-position: -370px -1110px;  } 
.flag.kp:after{ background-position: -370px -1184px;  } 
.flag.kr:after{ background-position: -370px -1258px;  } 
.flag.kw:after{ background-position: -370px -1332px;  } 
.flag.ky:after{ background-position: -370px -1406px;  } 
.flag.kz:after{ background-position: -370px -1480px;  } 
.flag.la:after{ background-position: -370px -1554px;  } 
.flag.lb:after{ background-position: -370px -1628px;  } 
.flag.lc:after{ background-position: -370px -1702px;  } 
.flag.li:after{ background-position: -370px -1776px;  } 
.flag.lk:after{ background-position: -370px -1850px;  } 
.flag.lr:after{ background-position: -370px -1924px;  } 
.flag.ls:after{ background-position: -444px 0;  } 
.flag.lt:after{ background-position: -444px -74px;  } 
.flag.lu:after{ background-position: -444px -148px;  } 
.flag.lv:after{ background-position: -444px -222px;  } 
.flag.ly:after{ background-position: -444px -296px;  } 
.flag.ma:after{ background-position: -444px -370px;  } 
.flag.mc:after{ background-position: -444px -444px;  } 
.flag.md:after{ background-position: -444px -518px;  } 
.flag.me:after{ background-position: -444px -592px;  } 
.flag.mf:after{ background-position: -444px -666px;  } 
.flag.mg:after{ background-position: -444px -740px;  } 
.flag.mh:after{ background-position: -444px -814px;  } 
.flag.mk:after{ background-position: -444px -888px;  } 
.flag.ml:after{ background-position: -444px -962px;  } 
.flag.mm:after{ background-position: -444px -1036px;  } 
.flag.mn:after{ background-position: -444px -1110px;  } 
.flag.mo:after{ background-position: -444px -1184px;  } 
.flag.mp:after{ background-position: -444px -1258px;  } 
.flag.mq:after{ background-position: -444px -1332px;  } 
.flag.mr:after{ background-position: -444px -1406px;  } 
.flag.ms:after{ background-position: -444px -1480px;  } 
.flag.mt:after{ background-position: -444px -1554px;  } 
.flag.mu:after{ background-position: -444px -1628px;  } 
.flag.mv:after{ background-position: -444px -1702px;  } 
.flag.mw:after{ background-position: -444px -1776px;  } 
.flag.mx:after{ background-position: -444px -1850px;  } 
.flag.my:after{ background-position: -444px -1924px;  } 
.flag.mz:after{ background-position: -518px 0;  } 
.flag.na:after{ background-position: -518px -74px;  } 
.flag.nc:after{ background-position: -518px -148px;  } 
.flag.ne:after{ background-position: -518px -222px;  } 
.flag.nf:after{ background-position: -518px -296px;  } 
.flag.ng:after{ background-position: -518px -370px;  } 
.flag.ni:after{ background-position: -518px -444px;  } 
.flag.nl:after{ background-position: -518px -518px;  } 
.flag.no:after{ background-position: -518px -592px;  } 
.flag.np:after{ background-position: -518px -666px;  } 
.flag.nr:after{ background-position: -518px -740px;  } 
.flag.nu:after{ background-position: -518px -814px;  } 
.flag.nz:after{ background-position: -518px -888px;  } 
.flag.om:after{ background-position: -518px -962px;  } 
.flag.pa:after{ background-position: -518px -1036px;  } 
.flag.pe:after{ background-position: -518px -1110px;  } 
.flag.pf:after{ background-position: -518px -1184px;  } 
.flag.pg:after{ background-position: -518px -1258px;  } 
.flag.ph:after{ background-position: -518px -1332px;  } 
.flag.pk:after{ background-position: -518px -1406px;  } 
.flag.pl:after{ background-position: -518px -1480px;  } 
.flag.pm:after{ background-position: -518px -1554px;  } 
.flag.pn:after{ background-position: -518px -1628px;  } 
.flag.pr:after{ background-position: -518px -1702px;  } 
.flag.ps:after{ background-position: -518px -1776px;  } 
.flag.pt:after{ background-position: -518px -1850px;  } 
.flag.pw:after{ background-position: -518px -1924px;  } 
.flag.py:after{ background-position: -592px 0;  } 
.flag.qa:after{ background-position: -592px -74px;  } 
.flag.re:after{ background-position: -592px -148px;  } 
.flag.ro:after{ background-position: -592px -222px;  } 
.flag.rs:after{ background-position: -592px -296px;  } 
.flag.ru:after{ background-position: -592px -370px;  } 
.flag.rw:after{ background-position: -592px -444px;  } 
.flag.sa:after{ background-position: -592px -518px;  } 
.flag.sb:after{ background-position: -592px -592px;  } 
.flag.sc:after{ background-position: -592px -666px;  } 
.flag.sd:after{ background-position: -592px -740px;  } 
.flag.se:after{ background-position: -592px -814px;  } 
.flag.sg:after{ background-position: -592px -888px;  } 
.flag.sh:after{ background-position: -592px -962px;  } 
.flag.si:after{ background-position: -592px -1036px;  } 
.flag.sj:after{ background-position: -592px -1110px;  } 
.flag.sk:after{ background-position: -592px -1184px;  } 
.flag.sl:after{ background-position: -592px -1258px;  } 
.flag.sm:after{ background-position: -592px -1332px;  } 
.flag.sn:after{ background-position: -592px -1406px;  } 
.flag.so:after{ background-position: -592px -1480px;  } 
.flag.sr:after{ background-position: -592px -1554px;  } 
.flag.st:after{ background-position: -592px -1628px;  } 
.flag.sv:after{ background-position: -592px -1702px;  } 
.flag.sy:after{ background-position: -592px -1776px;  } 
.flag.sz:after{ background-position: -592px -1850px;  } 
.flag.tc:after{ background-position: -592px -1924px;  } 
.flag.td:after{ background-position: -666px 0;  } 
.flag.tf:after{ background-position: -666px -74px;  } 
.flag.tg:after{ background-position: -666px -148px;  } 
.flag.th:after{ background-position: -666px -222px;  } 
.flag.tj:after{ background-position: -666px -296px;  } 
.flag.tk:after{ background-position: -666px -370px;  } 
.flag.tl:after{ background-position: -666px -444px;  } 
.flag.tm:after{ background-position: -666px -518px;  } 
.flag.tn:after{ background-position: -666px -592px;  } 
.flag.to:after{ background-position: -666px -666px;  } 
.flag.tr:after{ background-position: -666px -740px;  } 
.flag.tt:after{ background-position: -666px -814px;  } 
.flag.tv:after{ background-position: -666px -888px;  } 
.flag.tw:after{ background-position: -666px -962px;  } 
.flag.tz:after{ background-position: -666px -1036px;  } 
.flag.ua:after{ background-position: -666px -1110px;  } 
.flag.ug:after{ background-position: -666px -1184px;  } 
.flag.um:after{ background-position: -666px -1258px;  } 
.flag.us:after{ background-position: -666px -1332px;  } 
.flag.uy:after{ background-position: -666px -1406px;  } 
.flag.uz:after{ background-position: -666px -1480px;  } 
.flag.va:after{ background-position: -666px -1554px;  } 
.flag.vc:after{ background-position: -666px -1628px;  } 
.flag.ve:after{ background-position: -666px -1702px;  } 
.flag.vg:after{ background-position: -666px -1776px;  } 
.flag.vi:after{ background-position: -666px -1850px;  } 
.flag.vn:after{ background-position: -666px -1924px;  } 
.flag.vu:after{ background-position: -740px 0;  } 
.flag.wf:after{ background-position: -740px -74px;  } 
.flag.ws:after{ background-position: -740px -148px;  } 
.flag.ye:after{ background-position: -740px -222px;  } 
.flag.yt:after{ background-position: -740px -296px;  } 
.flag.za:after{ background-position: -740px -370px;  } 
.flag.zm:after{ background-position: -740px -444px;  } 
.flag.zw:after{ background-position: -740px -518px;  } 
